@using FilmHub.Models
@model IEnumerable<FilmHub.Models.Korisnik>

@{
    ViewBag.Title = "Popis korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Pretpostavka da koristite Layout za celu aplikaciju
}

<h2>Prikaz korisnika</h2>


<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Korisničko ime</th>
                <th>Email</th>
                <th>Prezime i ime</th>
                <th>Ovlast</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.KorisnickoIme</td>
                    <td>@item.Email</td>
                    <td>@item.PrezimeIme</td>
                    <td>@(item.Ovlast?.Naziv)</td>
                    <td>
                        @Html.ActionLink("Uredi", "Edit", new { id = item.KorisnickoIme }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Detalji", "Details", new { id = item.KorisnickoIme }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Obriši", "Delete", new { id = item.KorisnickoIme }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Da li ste sigurni da želite obrisati ovog korisnika?');" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
