@using FilmHub.Models
@model List<Novost>
@{
    ViewBag.Title = "Popis novosti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><strong>Najnovije vijesti iz svijeta filmova</strong></h2>

@Html.ActionLink("Kreiranje novosti", "Azuriraj")
<br />
<br />

<table boreder="1">
    <tr>
        <th>Id</th>
        <th><strong>Naslov</strong></th>
        <th>Opis</th>
        <th>info </th>

    </tr>
    @foreach (var novost in Model)
            {
                <tr>
                    <td>@novost.Id</td>
                    <td>@novost.Naslov</td>
                    <td>@novost.Opis</td>
                    <td>
                        @Html.ActionLink("Detalji", "Detalji", new { id = novost.Id }, new { @class = "btn btn-info btn-outline" })
                        @Html.ActionLink("Ažuriraj", "Azuriraj", new { id = novost.Id }, new { @class = "btn btn-warning btn-outline" })
                        @Html.ActionLink("Izbriši", "Brisi", new { id = novost.Id }, new { @class = "btn btn-danger btn-outline" })
                    </td> 

                </tr>
            }
</table>

