@using FilmHub.Models
@model List<FilmHub.Models.Favoriti>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Poruka"] != null)
{
    <div class="alert alert-info">
        @TempData["Poruka"]
    </div>
}


<h2>Popis favorita</h2>


<table class="table">
    <tr>
        <th>Naslov</th>
        <th>Kategorija</th>
        <th>Godina</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Naslov</td>
            <td>@item.Kategorija</td>
            <td>@item.Godina</td>

            <td class="text-center">
                @Html.ActionLink("Obriši", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }


</table>
<div style="display:flex; flex-flow:row">
    <a href="@Url.Action("IspisFavorita", "KosaricaItems", new {Naslov = ViewBag.Naslov, Kategorija = ViewBag.Kategorija, Godina = ViewBag.Godina})" class="btn btn-primary">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>Ispis favorita
    </a>
    <a href="@Url.Action("Popis", "Filmovi")" class="btn btn-secondary">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>Nazad na popis filmova
    </a>
    <a href="@Url.Action("ObrisiKosaricu", "KosaricaItems")" class="btn btn-danger">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>Obriši popis
    </a>
</div>

